.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product > button {
  background-color: #f0c140;
  border: 1px solid;
  border-color: yellow #9c7e31 orange;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  transition: transform 0.1s;
}
.product > button:active {
  transform: scale(0.9);
}
.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
